<!doctype html>
<html lang="es">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Inicio</title>

    <div th:replace="/component/meta.html"></div>
    <div th:replace="/component/style.html"></div>
</head>
<body>
<!-- Navigation -->
<div th:replace="/component/nav.html"></div>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- / Filtros -->
        <div th:replace="/component/sistemas_operativos_list.html"></div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9 mt-4 mb-4">

            <div class="card mt-4">
                <img class="card-img-top img-fluid" th:src="${aplicacion.imagen}" alt="">
                <div class="card-body">
                    <h3 class="card-title" th:text="${aplicacion.nombre}"></h3>
<!--                    <h4>$24.99</h4>-->
                    <p class="card-text" th:text="${aplicacion.descripcion}"></p>
<!--                    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>-->
<!--                    4.0 stars-->
                    <small class="text-muted">
                        <a href="#" class="card-link" th:text="${aplicacion.categoria.nombre}"></a>
                        <a href="#" class="card-link" th:text="${aplicacion.sistemaOperativo.nombre}"></a>
                    </small>
                </div>
            </div>
            <!-- /.card -->

<!--            <div class="card card-outline-secondary my-4">-->
<!--                <div class="card-header">-->
<!--                    Product Reviews-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>-->
<!--                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>-->
<!--                    <hr>-->
<!--                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>-->
<!--                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>-->
<!--                    <hr>-->
<!--                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>-->
<!--                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>-->
<!--                    <hr>-->
<!--                    <a href="#" class="btn btn-success">Leave a Review</a>-->
<!--                </div>-->
<!--            </div>-->
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>
<!-- /.container -->

<div th:replace="/component/footer.html"></div>

</body>
</html>